body { margin: 0px; padding: 0px; background-color: transparent; }
/* div { position: absolute } */
.ad_size { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }

#content, #main, #whiteout, #border, #clicktag {
    position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;
}

#whiteout { background-color: black; }
#plinth { background-size: contain; background-image: url("logo.png");
background-repeat: no-repeat;
background-position: bottom; }

#border { box-sizing: border-box; border: 1px solid #102b4e; }

#content {
    background-color: white;
    overflow: hidden;
    /* perspective: 1000px; */
}

.bgclass{
    position: absolute;
    bottom: 0;}

.thunder{
    /* transform: translate3d(0px, -0px, 0px); */
}
.image {
    transform: translate3d(0px, 0px, 0px) scale(1) rotate(0.01deg);
    transform-origin: top left;
    position: absolute; top: 0px; left: 0px;
    width: auto; height: auto;
    
    /* scale blur bugFix */
    /* backface-visibility: hidden;
    -webkit-filter: blur(0); */
}
.brigh{
transform: translate3d(0px, -20px, 0px) rotate(0.01deg);
}


/* bg animation */
#water {
    top: 370px;
    left: 0;
    transform: translate3d(0px, -50px, 100px) scale(1) rotate(0.01deg);
}

#sky {
    top: 1px;
    transform: translate3d(-27px, 0, 0) rotate(0.01deg);
}

#fogGrad {
    position: absolute; left: 0; top: 200px;
    width: 115%; height: 600px;
    opacity: 0.2;
    transform: translate3d(-47px, 0, 0);
    background: linear-gradient(180deg, #92958e 0%, rgba(0,0,0,0) 100%);
}

#clouds {
    top: -60px;
    left: 0px;
    opacity: 0.3;
    transform-origin: left bottom;
    transform: rotateX(40deg);
}

#bg {
    left: 0px; top: -30px;
    transform: translate3d(0, 0, 0) scale(0.9) rotate(0.01deg);
    transform-origin: -20% bottom;
}

.terms{
    transform: translate3d(-2px, 0px, 0px);
}
/* copy animation */
.zoomIn {
    transform: translate3d(0px, 100px, 0px) scale(0.9) rotate(0.01deg);
    transform-origin: center center;
}
.copyOne{
    transform: translate3d(-10px, 120px, 0px) scale(0.9) rotate(0.01deg);
    transform-origin: center center;
} 



/* ------------------------------ CTA - Start ----------------------------- */

#cta_all {
    transform: translate3d(0,0,0.1px) rotate(0.001deg) scale(1);
    width: auto; height: auto; position: absolute;
    bottom: 15px; left: 15px;

}

.cta_position {
    width: 100%; height: 100%; position: absolute; 
}

#cta_1 {
    backface-visibility: hidden; color: #fff;
}

#cta_2 {
    backface-visibility: hidden; color: #102b4e;
    opacity: 0;
}

#cta_1_bg {
    background-color: #102b4e;
}

#cta_2_bg {
    background-color: #ffffff; 
    opacity: 0;
}

/* ------------------------------ CTA - End ----------------------------- */

/* ------------------------------ Terms - Start ----------------------------- */

#terms_btn {
    position: absolute; background-color: aqua; opacity: 0;
    pointer-events: none; cursor: pointer;
    top: 160px; left: 10px;
    width: 120px; height: 23px;
}

#terms_copy {
    position: absolute; background-size: contain;
    /* background-image: url("terms_copy.png"); */
}

#terms_overlay {
    position: absolute; background-size: contain; opacity: 0;
    background-color: rgba(0,0,0,0.7);
    top: 0px; left: 0px;
}

@keyframes terms_overlay_animation_over {from {opacity: 0} to {opacity: 1} }
@keyframes terms_overlay_animation_out {from {opacity: 1} to {opacity: 0} }

/* ------------------------------ Terms - End ----------------------------- */
